.shooping {
  flex-basis: 25%;
  background: $inputBg;
  min-height: 60vh;

  .content-title {

    h3 {
      text-align: center;
      color: $titleColor;
      font-weight: 300;
      padding-top: 1rem;
    }
  }
}
