* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right bottom, #FBDB89, #F48982);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}
.forkify {
  width: 100%;
  padding: 4rem 0;

  .forkify-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.loader {
  margin: 2 auto;
  text-align: center;

  img {
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    background: #F59A83;
    animation: rotate 1.5s infinite linear;

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
