* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right bottom, #FBDB89, #F48982);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}
.forkify {
  width: 100%;

  .forkify-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
